html,
body {
    height: 100%;
    color: #777;
}

img {
    width: 100%;
}

.title {
    background-color: #37474F;
    padding: 14px;
    font-size: 24px;
    color: white;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

h4 {
    font-size: 16px;
    font-style: oblique;
    font-weight: 700;
}

h5 {
    font-size: 15px;
    font-style: oblique;
}

.container {
    padding-top: 28px;
    padding-bottom: 28px;
}

.row {
    margin-bottom: 28px;
    margin-top: 14px;
}

.row > div {
    padding-top: 14px;
    text-align: justify;
    text-justify: inter-word;
}

.navbar-perso {
    visibility: hidden;
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    display: flex;
    flex-direction: row;
    transition: background-color 100ms, box-shadow 100ms;
}

.coloured {
    background-color: #D3D3D3;
    color: #777;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
}

.navbar-perso > div {
    height: 56px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 100ms;
}

.navbar-perso > div:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-perso > div > a {
    text-decoration: none;
    color: #777;
}

.bg-img {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-1 {
    background-image: url(assets/big-data-background.png);
    min-height: 100%;
}

.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7 {
    min-height: 400px;
}

.img-2 {
    background-image: url(assets/big-data-background-2-min.jpg);
}

.img-3 {
    background-image: url(assets/big-data-background-3-min.jpg);
}

.img-4 {
    background-image: url(assets/big-data-background-4-min.jpg);
}

.img-5 {
    background-image: url(assets/big-data-background-5-min.jpg);
}

.img-6 {
    background-image: url(assets/big-data-background-6-min.jpg);
}

.img-7 {
    background-image: url(assets/big-data-background-7-min.jpg);
}

/* --------------------------------
/* --------------------------------
Modules - reusable parts of our design
-------------------------------- */
.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* --------------------------------
Main components
-------------------------------- */

.twitter {
  position: fixed;
  top: 90px;
  left: 20px;
  /* image replacement properties */
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .5s 0s, visibility 0s .5s;
  -moz-transition: opacity .5s 0s, visibility 0s .5s;
  transition: opacity .5s 0s, visibility 0s .5s;

}

.twitter.cd-is-visible, .twitter.cd-fade-out, .no-touch .twitter:hover {
  -webkit-transition: opacity .5s 0s, visibility 0s 0s;
  -moz-transition: opacity .5s 0s, visibility 0s 0s;
  transition: opacity .5s 0s, visibility 0s 0s;
}

.twitter.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.twitter.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}
.no-touch .twitter:hover {
  background-color: #e86256;
  opacity: 1;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .5s 0s, visibility 0s .3s;
  -moz-transition: opacity .5s 0s, visibility 0s .3s;
  transition: opacity .5s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .5s 0s, visibility 0s 0s;
  -moz-transition: opacity .5s 0s, visibility 0s 0s;
  transition: opacity .5s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .8;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
